<nav class="navbar">
  <div class="brand">
    <%= link_to "MyRecipes", root_path %>
  </div>

  <div class="nav-links">
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</nav>
