<nav class="navbar">
  <div class="brand">
    <%= link_to "MyRecipes", root_path %>
  </div>

  <div class="nav-links">
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <% if chef_signed_in? %>
      <%= link_to "Recipes", recipes_path %>
    <% end %>
    <%= link_to "Contact", contact_path %>

    <% if chef_signed_in? %>
      <span class="chef-badge">Chef: <%= current_chef.name %></span>
      <%= button_to "Logout", chef_logout_path, method: :delete, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Sign up as Chef", chef_signup_path, class: "btn btn-primary" %>
      <%= link_to "Login as Chef", chef_login_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</nav>
